.body {
    width: 1170px;
    height: 2376px;
    margin: auto;
    border: solid 1px red;
}
.wrapper {
    width: 88%;
    margin: auto;
    border: solid 1px red;
}
.logo {
    background-image: url(./img/logo-1.svg);
    display: inline-block;
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    margin-right: 45px;
    border: solid 1px red;
}
a {
    color: #000;
    text-decoration: none;
}
.menu {
    display: flex;
    align-items: center;
    margin-top: 33px;
    margin-bottom: 20px;
    border: solid 1px red;
    
}
.menu__item {
    display: inline-block;
    margin-right: 35px;
    font: 700 12px/11px 'GothamPro',arial,helvetica,sans-serif;
    text-transform: uppercase;
}
.menu__item_help {
    margin-right: 192px;
}
.menu__item_line {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: solid 1px #000;
    width: 178px;
    margin-right: -18px;
}
.menu__item_search {
    outline: none;
    border: none;
    background-color: transparent;
    width: 14px;
    height: 14px;
    margin-right: 35px;
    cursor: pointer;
    background-image: url(./img/Search.svg);
}
.menu__item_cart {
    margin-right: 3px;
}
.menu__item_cart-logo {
    width: 15px;
    height: 16px;
    background-image: url(./img/ellipse-nav.svg);
}
.menu__item_flag {
    width: 20px;
    height: 20px;
    background-image: url(./img/united-states.svg);
    outline: none;
    border: none;
    background-color: transparent;
    margin-right: 0;
    cursor: pointer;
}
.potter__rob_rob-img {
    background-image: url(./img/rob-potter.jpg);
    height: 280px;
    position: relative;
    
}
.potter__rob_title {
    font: 700 25px/24px 'GothamPro',arial,helvetica,sans-serif;
    text-transform: uppercase;
    color: #FFF;
    position: absolute;
    top: 91px;
    left: 60px;
}
.potter__rob_shop-now-img {
    position: absolute;
    background-image: url(./img/shn-arrow-white.svg);
    width: 122px;
    height: 12px;
    top: 193px;
    left: 60px;
}
.product-sabtitle {
    text-align: center;
    font: 700 22px/21px 'GothamPro',arial,helvetica,sans-serif;
}
.product {
    display: flex;

}
.name {
    font: 400 12px/11px 'GothamPro',arial,helvetica,sans-serif;
    color: #000;
}
.prace {
    font: 700 14px/13px 'GothamPro',arial,helvetica,sans-serif;
    color: #000; 
    
    margin-right: 70px;
}
.atlas-black {
    margin-left: 23px;
    width: 230px;
    height: 261px;
    
}

.atlas-black-img {
    background-image: url(./img/produkt-1.jpg);
    width: 188px;
    height: 173px;
    
}
.atlas-black__ellipse {
    display: flex;
    align-items: center;
    
}
.atlas-black__ellipse_gray {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin: 0 4px;

}
.atlas-black__ellipse_black-active {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #0E1211;
    margin: 0 4px;
}
.atlas-black__ellipse_burgundy {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #B62E3C;
    margin: 0 4px;
}
.atlas-black__ellipse_yelloy {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #FDB431;
    margin: 0 4px;
}
.camel {
    margin-left: 37px;
    width: 230px;
    height: 261px;
}
.camel__camel-img {
    background-image: url(./img/produkt-2.jpg);
    width: 188px;
    height: 173px;
}
.cemel__ellipse {
    display: flex;
    align-items: center;
    
}
.cemel__ellipse_gray {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin: 0 4px;
}
.cemel__ellipse_orange-active {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #E29D69;
    margin: 0 4px;
}
.cemel__ellipse_burgundy {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #B62E3C;
    margin: 0 4px;
}
.cemel__ellipse_yelloy {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #FDB431;
    margin: 0 4px;
}
.mandel-smoke {
    margin-left: 37px;
    width: 230px;
    height: 261px;
}
.mandel-smoke__mandel-smoke-img {
    background-image: url(./img/produkt-3.jpg);
    width: 188px;
    height: 173px;
}
.mandel-smoke__ellipse {
    display: flex;
    align-items: center;
   
}
.mandel-smoke__ellipse_gray {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin: 0 4px;
}
.mandel-smoke__ellipse_darkburgundy-active {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #762E31;
    margin: 0 4px;
}
.mandel-smoke__ellipse_darkSlateBlue {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #41479B;
    margin: 0 4px;
}
.mandel-smoke__ellipse_yelloy {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #FDB431;
    margin: 0 4px;
}
.cloud {
    margin-left: 37px;
    width: 230px;
    height: 261px;
}
.cloud__cloud-img {
    background-image: url(./img/produkt-4.jpg);
    width: 188px;
    height: 173px;
}
.cloud__ellipse {
    display: flex;
    align-items: center;
    
}
.cloud__ellipse_gray {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin: 0 4px;
}
.cloud__ellipse_blue-active {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #257DA9;
    margin: 0 4px;
}
.cloud__ellipse_burgundy {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #B62E3C;
    margin: 0 4px;
}
.cloud__ellipse_yelloy {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #FDB431;
    margin: 0 4px;
}
.border1,.border2,.border3 {
    border-right: solid 1px #000;
    height: 100px;
    margin-top: 50px;
    opacity: 0.2;
}
.video {
    height: 494px;
    background-color: #000;
    position: relative;
}
.video__video-img {
    background-image: url(./img/video.jpg);
    position: absolute;
    width: 644px;
    height: 361px;
    top: 67px;
    left: 33px;
}
.video__video-img2 {
    background-image: url(./img/video-2.svg);
    position: absolute;
    width: 55px;
    height: 55px;
    top: 224px;
    left: 332px;
}
.video__video-sabtitle {
    color: #FFF;
    top: 155px;
    left: 719px;
    position: absolute;
    font: 700 22px/27px 'GothamPro',arial,helvetica,sans-serif;
    text-transform: uppercase;
}
.video__video-text {
    color: #FFF;
    position: absolute;
    font: 400 14px/17px 'GothamPro',arial,helvetica,sans-serif;
    top: 224px;
    left: 719px;
    right: 58px;
}
.video__video-arrow {
    background-image: url(./img/lm-arrow-white.svg);
    position: absolute;
    width: 137px;
    height: 12px;
    top: 329px;
    left: 719px;
}
.story__h2 {
    text-align: center;
    font: 700 22px/21px 'GothamPro',arial,helvetica,sans-serif;
    color: #000;
    text-transform: uppercase;
    margin: 80px 0 40px 0;
}
.story {
    display: flex;
}
.presents,.first,.kevin {
    width: 307px;
    height: 338px;
}
.first {
    margin: 0 55px;
}
.atlas-black-img,.first__first-img,.kevin__kevin-img {

}
.presents__presents-h3,.first__first-h3,.kevin__kevin-h3 {
    font: 700 18px/17px 'GothamPro',arial,helvetica,sans-serif;
    color: #000;
}
.presents__presents-text,.first__first-text,.kevin__kevin-text {
    font: 400 14px/17px 'GothamPro',arial,helvetica,sans-serif;
    color: #000;
}
.presents__presents-arrow,.first__first-arrow,.kevin__kevin-arrow {

}
.presents__presents-date,.first__first-date,.kevin__kevin-date {
   
    font: 700 12px/11px 'GothamPro',arial,helvetica,sans-serif;
    color: #000;
    opacity: .3;
    text-transform: uppercase; 
    margin-left: 120px;
}
.picture__nav {
    
}
.picture__picture-h2 {
    text-align: right;
    font: 700 18px/17px 'GothamPro',arial,helvetica,sans-serif;
    color: #000;
    opacity: .3;
    text-transform: uppercase; 
}
.picture__picture-img0,.picture__picture-img1,.picture__picture-img2,.picture__picture-img3,.picture__picture-img4,.picture__picture-img5 {
    margin-right: -6px;
}

.footer {
    height: 297px;
    background-color: rgb(197, 157, 157);
    display: flex;
    color: #FFF;
}
.account {
   width: 86px;
   height: 106px;
   font: 700 12px/12px 'GothamPro',arial,helvetica,sans-serif;
}
.service {
    width: 128px;
   height: 124px;
}
.account__account-text,.service__text,.miscellaneous-text {
   color: #FFF;
   display: flex;
    flex-flow: column; 
    font: 400 12px/12px 'GothamPro',arial,helvetica,sans-serif;
    margin-top: 6px;
}
